@use '../variables';

.button {
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 2px 2px 2px variables.$shadowColor;
    padding: 22px;
    color: variables.$textColor;
    font-size: 26px;

    &--primary {
        background-color: variables.$bgColorButton;
        border: none;

        &:hover {
            background-color: variables.$bgColorButtonHover;
        }
    }

}